<!--View Information-->
<!--View name : NEWS Feed-->
<!--State name : app.newsFeed-->
<!--URL : #app/newsFeed-->

<ion-view title="App Planet">
    <!--news feed section-->
    <ion-content id="news-feed-content">
        <img src="http://techplus.com.ng/app_images/App_net.jpg" style="height:180px;width:350px;margin-left:auto;margin-right:auto;display:block">
        <div style="text-align:center;background-color:#D31A0F;margin-top:-5px;color:white">APP PLANET</div>

        <div class="news-item">

            <!--header section-->
            
        
            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    

                    <p >
                    This is the zone for displaying and dazzling the expanded audience with the ingenuity of your app (web or mobile).

                    If you have an application that is worth revealing, sharing and publicizing, you should look forward to been at the App Planet during the event.

                    At the APP planet, you get to feature your applications to a wide-spectrum of audience, providing you with market insight, review and possible patronage.   
                    </p>

                    
                </div>
            </div><!--end detail section-->

            <!--footer section-->
           
        </div>

        
        
        <div class="row"></div>
    </ion-content><!--end news feed section-->

    <!--button section-->
   <!--  <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div><!--end button section-->
</ion-view>