<!--View Information-->
<!--View name : NEWS Feed-->
<!--State name : app.newsFeed-->
<!--URL : #app/newsFeed-->

<ion-view title="General">
    <!--news feed section-->
    <ion-content id="news-feed-content">
        <img src="http://techplus.com.ng/app_images/techPlus.jpg" style="height:180px;width:350px;margin-left:auto;margin-right:auto;display:block">
        <div style="text-align:center;background-color:#D31A0F;color:white">GENERAL</div>

        <div class="news-item">

            <!--header section-->
            
        
            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    

                    <p >
                    Broad, extensive and insightful, the general track brings together diverse individuals, interest and personalities to engage various themes on technology and digital evolution.

                    The general track will serve as the agenda setter for multi-layered issues within the technological space, delivering expanded conversations, thought-provoking ideas, technological inspiration for business and social upward mobility.  
                    </p>

                    
                </div>
            </div><!--end detail section-->

            <!--footer section-->
           
        </div>

        
        
        <div class="row"></div>
    </ion-content><!--end news feed section-->

    <!--button section-->
   <!--  <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div><!--end button section-->
</ion-view>