<!--View Information-->
<!--View name : NEWS Feed-->
<!--State name : app.newsFeed-->
<!--URL : #app/newsFeed-->

<ion-view title="Kids World">
    <!--news feed section-->
    <ion-content id="news-feed-content">
        <img src="http://techplus.com.ng/app_images/kids.JPG" style="height:180px;width:350px;margin-left:auto;margin-right:auto;display:block">
        <div style="text-align:center;background-color:#D31A0F;color:white">Kids World</div>

        <div class="news-item">

            <!--header section-->
            
        
            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    

                    <p >
                    Got technological interest, products and services for kids? We welcome you to book a spot at the #TechPlus2016 Kids World exhibition where learning will meet fun.
                    #TechPlus powers the next generation of tech-explorers by providing you with the platform to exhibit, connect and deliver fun, insight and knowledge to the multitude of kids coming over to #TechPlus this year.
                    Let’s tech them young.   
                    </p>

                    
                </div>
            </div><!--end detail section-->

            <!--footer section-->
           
        </div>

        
        
        <div class="row"></div>
    </ion-content><!--end news feed section-->

    <!--button section-->
   <!--  <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div><!--end button section-->
</ion-view>