<!--View Information-->
<!--View name : NEWS Feed-->
<!--State name : app.newsFeed-->
<!--URL : #app/newsFeed-->

<ion-view title="Startup Pavillion">
    <!--news feed section-->
    <ion-content id="news-feed-content">
        <img src="http://techplus.com.ng/app_images/start_up.jpg" style="height:180px;width:350px;margin-left:auto;margin-right:auto;display:block">
        <div style="text-align:center;background-color:#D31A0F;color:white">Startup Pavillion</div>

        <div class="news-item">

            <!--header section-->
            
        
            <!--detail section-->
            <div class="row detail">
                <div class="col">
                    

                    <p >
                    Fresh, young and creative businesses have a unique space at #TechPlus2016. The Startup track affords budding entrepreneurs, innovators with startups ideas and firms the platform to express and explore their entrepreneurial drive, learn and glean insight from already established startups and having the possibilities of expanding their technological startup interest.   
                    </p>

                    
                </div>
            </div><!--end detail section-->

            <!--footer section-->
           
        </div>

        
        
        <div class="row"></div>
    </ion-content><!--end news feed section-->

    <!--button section-->
   <!--  <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div><!--end button section-->
</ion-view>